<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Thank you</title>

    <meta name="description" content="Amy&#039;s Yard Referral Form"/>
    <meta name="author" content="Watford Consulting Ltd."/>
    <link rel="icon" href="favicon.ico"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <link rel="canonical" href="http://awf.watfordconsulting.com"/>

    <link href="css/awfreferral.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <h1>Thank you</h1>
    <h3>Experimental form submission. Please note that no information from your submission has been recorded.</h3>
    <br></br>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="application/javascript" src="js/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="application/javascript" src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="application/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<script type="application/javascript" src="js/iframeResizer.contentWindow.js"></script>
</body>

</html>